<div class="row">
  <div class="col l8 offset-l2 m10 offset-m1 s12" id="sorteios">
    <div class="row">
      <div class="col s12">
        <ul class="collection" *ngIf="sorteios.length > 0">
          <li class="collection-item avatar" *ngFor="let sorteio of sorteios">
            <img [src]="sorteio.imagem" class="circle">
            <span class="title">{{sorteio.titulo}}</span>
            <p>Estabelecimento: {{sorteio.estabelecimentoNome}}</p>
            <p>Data do sorteio:{{sorteio.data | date}} </p>
            <p *ngIf="sorteio.participantes">Possui inscritos</p>
            <p *ngIf="sorteio.ganhador?.nome"><b>Ganhador: {{sorteio.ganhador.nome}}</b></p>
            <button style="margin-right: 160px" class="btn waves-effect waves-light green secondary-content" [disabled]="sorteio.sortear"
              (click)="realizarSorteio(sorteio)">Sortear</button>
            <button style="margin-bottom: 5px" class="left btn waves-effect waves-light red secondary-content"
              [disabled]="sorteio.sortear" (click)="deletarSorteio(sorteio)">Deletar</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="fixed-action-btn">
      <a class="btn-floating right btn-large waves-effect waves-light red" (click)="addSorteio()"><i class="material-icons">add</i></a>
    </div>
  </div>
</div>


<!-- Modal Sorteio -->
<div id="modal-sorteio" class="modal">
  <div class="modal-content">
    <form [formGroup]="formSorteio" (ngSubmit)="onSubmitSorteio()">
      <div class="row">
        <div class="col s12 input-field">
          <input type="text" autofocus id="titulo" name="titulo" class="validate" formControlName="titulo">
          <label for="titulo">Título</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 input-field">
          <textarea autofocus id="texto" name="texto" class="validate" formControlName="texto" class="materialize-textarea"></textarea>
          <label for="texto">Digite o corpo do texto do sorteio</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 input-field">
          <input type="text" autofocus id="linkInstagram" name="linkInstagram" class="validate" formControlName="linkInstagram">
          <label for="linkInstagram">Link do instagram</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <input type="text" placeholder="Data do sorteio" class="datepicker">
        </div>
      </div>
      <div class="row">
        <div class="col s12 input-field">
          <input type="text" autofocus id="nome_estabelecimento" name="nome_estabelecimento" class="validate" (keyup)="filtraEstabelecimentos($event)">
          <label for="nome_estabelecimento">Pesquise o nome do estabelecimento</label>
        </div>
      </div>
      <div class="row">
        <label>Estabelecimentos</label>
        <select class="col s12 input-field browser-default" formControlName="estabelecimentoKey">
          <option value="" disabled selected>Selecione o estabelecimento</option>
          <option *ngFor="let estabelecimento of estabelecimentosFiltrados" [value]="estabelecimento.key">{{estabelecimento.nome}}</option>
        </select>
      </div>
      <div class="row">
        <img class="col m3 s12" (click)="console()" [src]="imagemSorteio? pathImagemSorteio: 'assets/imgs/no-photo.png'">
        <div class="file-field input-field col m9 s12">
          <div class="btn">
            <span>imagem</span>
            <input type="file" (change)="uploadFileSorteio($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <input [disabled]="formSorteio.invalid || !imagemSorteio" class="col s12 m8 offset-m2 l4 offset-l4 btn btn-waves"
          type="submit" />
      </div>
    </form>
  </div>
</div>