<nav *ngIf="user">
  <div class="nav-wrapper">
    <a style="cursor: pointer;" (click)="onNavigate('')" class="brand-logo">Tudo em Murici</a>
    <ul class="right">
      <li><a class="dropdown-button" style="cursor: pointer;" data-activates="dropdown1">Estabelecimentos</a></li>
      <li><a (click)="onNavigate('notificacao')">Notificação</a></li>
      <li><a (click)="onNavigate('sorteios')">Sorteios</a></li>
      <li><a (click)="onNavigate('destaques')">Destaques</a></li>
      <li><a (click)="sair()">Sair</a></li>
    </ul>
  </div>
</nav>

<ul style="margin-top: 64px;" id="dropdown1" class="dropdown-content" *ngIf="user">
  <li><a (click)="onNavigate('cadastro')">Cadastro</a></li>
  <li><a (click)="onNavigate('consulta-estabelecimento')">Consulta</a></li> 
</ul>