<div class="row">
  <div class="col"></div>
  <div class="col">
    <ng4-loading-spinner [threshold]="2000" [loadingText]="'Carregando...'" [zIndex]="9999"> </ng4-loading-spinner>
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col s12">
    <ul class="tabs" *ngIf="!admin" style="overflow-x:hidden;">
      <li class="tab col s6"><a href="#info-tab">INFORMAÇÕES GERAIS</a></li>
      <li class="tab col s6"><a href="#imagens-tab">IMAGENS</a></li>
    </ul>
    <ul class="tabs" *ngIf="admin" style="overflow-x:hidden;">
      <li class="tab col s4"><a href="#info-tab">INFORMAÇÕES GERAIS</a></li>
      <li class="tab col s4"><a href="#imagens-tab">IMAGENS</a></li>
      <li class="tab col s4"><a href="#admin-tab">ADMIN</a></li>
    </ul>
  </div>
  <div class="row container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="info-tab" class="col s12">
      <h3 class="center-align">Informações Gerais</h3>
      <br>
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="nome" formControlName="nome" type="text" class="validate">
          <label for="nome">Nome do Estabelecimento</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="nomeResponsavel" formControlName="nomeResponsavel" type="text" class="validate">
          <label for="nomeResponsavel">Nome do Responsável</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="descricao" formControlName="descricao" class="materialize-textarea"></textarea>
          <label for="descricao">Digite uma descrição para sua empresa</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="horarioFuncionamento" formControlName="horarioFuncionamento" class="materialize-textarea"></textarea>
          <label for="horarioFuncionamento">Horário de Funcionamento</label>
        </div>
      </div>
      <div class="row">
        <h5>Telefones</h5>
        <div class="input-field col s12 m6">
          <input id="telefonePrimario" formControlName="telefonePrimario" type="text" class="validate">
          <label for="telefonePrimario">Telefone Primário</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="telefoneSecundario" formControlName="telefoneSecundario" type="text" class="validate">
          <label for="telefoneSecundario">Telefone Secundário</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="logradouro" formControlName="logradouro" type="text" class="validate">
          <label for="logradouro">Digite o endereço da sua empresa</label>
        </div>
      </div>
      <div class="row">
        <div class="chips chips-initial chips-placeholder col s12"></div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-waves col s12 m6 offset-m3 offset-l4 l4" (click)="abrirModal()">
          <i class="material-icons left">map</i>Localização no Mapa
        </button>
      </div>
      <div class="row">
        <input type="submit" [disabled]="this.form.invalid" class="btn btn-waves col s12 m6 offset-m3 offset-l4 l4">
      </div>
    </form>
  </div>
</div>

<div id="imagens-tab" class="col s12 container">
  <h3 class="center-align">Imagens</h3>
  <br>

  <div class="row">
    <img class="col m3 s12" [src]="estabelecimento?.avatar? estabelecimento?.avatar: 'assets/imgs/no-photo.png'">
    <div class="file-field input-field col m9 s12">
      <div class="btn">
        <span>imagem</span>
        <input type="file" (change)="uploadFile($event, 'avatar')">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>
  <br><br>

  <div class="row" *ngIf="estabelecimento?.plano == 2 || estabelecimento?.plano == 3 || estabelecimento?.plano == 4">
    <img [src]="estabelecimento?.imagemAdicional? estabelecimento?.imagemAdicional: 'assets/imgs/no-photo.png'" class="col m3 s12">
    <div class="file-field imagem-adicional input-field col m9 s12">
      <div class="btn">
        <span>imagem adicional</span>
        <input type="file" (change)="uploadFile($event, 'imagemAdicional')">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>

  <div class="row" *ngIf="estabelecimento?.plano == 2 || estabelecimento?.plano == 3 || estabelecimento?.plano == 4">
    <img [src]="estabelecimento?.imagemAdicional_2? estabelecimento?.imagemAdicional_2: 'assets/imgs/no-photo.png'" class="col m3 s12">
    <div class="file-field imagem-adicional input-field col m9 s12">
      <div class="btn">
        <span>imagem adicional</span>
        <input type="file" (change)="uploadFile($event, 'imagemAdicional_2')">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>
<!--
  <div *ngIf="admin">
    <p>Imagens adicionais: {{estabelecimento?.imagensAdicionais? estabelecimento?.imagensAdicionais: 'Nenhuma'}}</p>
    <h5 class="center-align">Quantidade de imagens adicionais</h5>
    <select class="col s12 input-field browser-default" [(ngModel)]="imagensAdicionais">
      <option value="" disabled selected>Selecione o estabelecimento</option>
      <option [value]="false">Nenhuma</option>
      <option [value]="1">Uma imagem adicional</option>
      <option [value]="2">Duas imagens adicionais</option>
    </select>
    <br><br>
    <button [disabled]="!imagensAdicionais" class="btn btn-waves col s12 m6 offset-m3 offset-l4 l4" (click)="habilitarImagemAdicional()">
      Salvar imagens&nbsp;<i class="material-icons right">send</i>
    </button>
  </div>-->
  <hr>
  <br><br>
  <div class="row">
    <button class="btn btn-waves col s12 m6 offset-m3 offset-l4 l4" (click)="enviarImagens()">
      Salvar imagens&nbsp;<i class="material-icons right">send</i>
    </button>
  </div>
</div>

<div *ngIf="admin" class="col s12" id="admin-tab">
  <div class="row">
    <form [formGroup]="formPlano" class="col m4 offset-m4 s6 offset-s3">
      <h3 class="center-align">Selecione o plano</h3>
      <p>
        <input formControlName="plano" value="1" type="radio" id="plano1" />
        <label for="plano1">Básico</label>
      </p>
      <p>
        <input formControlName="plano" value="2" type="radio" id="plano2" />
        <label for="plano2">Médio</label>
      </p>
      <p>
        <input formControlName="plano" value="3" type="radio" id="plano3" />
        <label for="plano3">Top</label>
      </p>
      <p>
        <input formControlName="plano" value="4" type="radio" id="plano4" />
        <label for="plano4">Plus</label>
      </p>
      <button type="submit" class="btn waves-effect waves-green col s6 offset-s3" (click)="salvarPlano()">Salvar plano</button>  
    </form>
  </div>
  <div class="row" style="margin-top: 100px;">
    <button *ngIf="!estabelecimento?.destaque" class="btn waves-effect waves-green col s6 offset-s3" (click)="colocarDestaque()">Colocar
      em destaque</button>
    <button *ngIf="estabelecimento?.destaque" class="btn waves-effect waves-red red col s6 offset-s3" (click)="removerDestaque()">Remover
      destaque
    </button>
  </div>
</div>

<div class="modal" id="modal_endereco">
  <div id="map" class="modal-content">
    <agm-map #agmMap [zoom]="15" [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="latMarker" [longitude]="lngMarker"></agm-marker>
    </agm-map>
  </div>
  <div class="modal-footer">
    <button (click)="salvarEndereco()" class="modal-action modal-close waves-effect waves-green btn-flat">Salvar</button>
  </div>
</div>